<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <!-- Lenght of the adapter attached on the tip of EGS -->
    <arg name="adapter_len" default="0.15" />

    <node pkg="global_frame_registration" type="adapter_pose_publisher" name="adapter_pose_publisher" output="screen" unless="$(arg load_reference)">
        <param name="adapter_len" value="$(arg adapter_len)"/>
    </node>

    <!-- Endoscope left camera static tf -->
    <node pkg="tf" 
    type="static_transform_publisher" 
    name="static_ecm_endoleft" 
    args="0.000 -0.001 -0.005 -0.016 0.054 -0.040 0.998 /ECM /endoscope/left_camera 10"/>
    
    <node pkg="tf" 
    type="static_transform_publisher" 
    name="static_ecm_endoright" 
    args="0.002 0.001 0.002 0.007 0.066 0.014 0.998 /ECM /endoscope/right_camera 10"/>


    <!-- <include file="$(find easy_handeye)/launch/publish.launch" if="$(arg load_reference)">
        <arg name="namespace_prefix" value="left_camera" />
        <arg name="eye_on_hand" value="false" />
    </include> -->

    <!-- <include file="$(find easy_handeye)/launch/publish.launch" if="$(arg load_reference)">
        <arg name="namespace_prefix" value="right_camera" />
        <arg name="eye_on_hand" value="false" />
    </include> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/mesa_left/ee_pose, /dvrk/PSM1/position_cartesian_current, /dvrk/ECM/adapter_position, /dvrk/PSM2/position_cartesian_current, /mesa_right/ee_pose]
        camera_subscribers: []
        registrations:
        - frame_id: mesa_right/sbs_world
          orientation: [0.885658435273211, -0.01659543159764271, 0.03158646286990701, -0.462964386365586]
          parent_frame: /world
          position: [5.015750298834564698, -0.15697318779439656, 0.7094638883162436]
        - frame_id: PSM2_base
          orientation: [0.4513922656878063, -0.46259657500719065, -0.49570111553591184, 0.5801119162069486]
          parent_frame: /world
          position: [-5.059767885188304226, -0.03829226434947197, -0.0033130004928590105]
        - frame_id: PSM1_base
          orientation: [-0.0009687186305727933, -0.016923386046530566, 0.6678100961678308,
            0.7441386537771354]
          parent_frame: /world
          position: [0.006372973930380064, -0.15759991787084868, 0.11104918423609811]
        - frame_id: mesa_left/sbs_world
          orientation: [-0.08307361056624224, -0.31584610545714265, -0.6037683767772213, 0.727188943878304]
          parent_frame: /world
          position: [0.40577927558371496, 0.03552743451218571, -0.5091430726258408]
        - frame_id: ECM_base
          orientation: [-0.2994669626154686, -0.2826175452122995, 0.6251762973939053, 0.6630244781430672]
          parent_frame: /world
          position: [-0.21616937086622479, -0.015307537952681045, 0.22711059693546803]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>


</launch>