<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <!-- Lenght of the adapter attached on the tip of EGS -->
    <arg name="adapter_len" default="0.15" />

    <node pkg="global_frame_registration" type="adapter_pose_publisher" name="adapter_pose_publisher" output="screen" unless="$(arg load_reference)">
        <param name="adapter_len" value="$(arg adapter_len)"/>
    </node>

    <!-- <node pkg="tf" type="static_transform_publisher" name="handeye_left" output="screen" args="0.0024 -0.0000 0.0032 -0.0000 0.0002 0.0005 1.0000 /ECM /endoscope/left_camera 10"/> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/mesa_left/ee_pose, /mesa_right/ee_pose, /dvrk/PSM1/position_cartesian_current, /dvrk/PSM2/position_cartesian_current, /dvrk/ECM/adapter_position]
        camera_subscribers: []
        registrations:
        - frame_id: ECM_base
          orientation: [-0.005998196508761604, 0.0389302689523252, 0.7097064096416749, 0.7033955273610042]
          parent_frame: /world
          position: [-0.06374999400561093, -0.001657043953295332, 0.24997661868695997]
        - frame_id: mesa_left/sbs_world
          orientation: [-0.21469788271684762, -0.017261240132442825, -0.5235583880530437,0.8243139468948051]
          parent_frame: /world
          position: [-0.4021080919533248, 0.14340785746173101, -0.640807163609219]        
        - frame_id: mesa_right/sbs_world
          orientation: [0.2938289849423073, 0.19223210163435175, 0.7081730363890439, 0.6125375884307309]
          parent_frame: /world
          position: [-0.6164178962505882, -0.3538825489088665, -0.6134815395396469]
        - frame_id: PSM2_base
          orientation: [0.27596381179646445, 0.23762299962676509, 0.8630730734251313, 0.3499773629188635]
          parent_frame: /world
          position: [0.025171144256054163, 0.06552835630089021, 0.09240875970307125]
        - frame_id: PSM1_base
          orientation: [0.28278103190896636, 0.18681282272117145, 0.42131469087565926, 0.8412073397871633]
          parent_frame: /world
          position: [0.018702234614189073, -0.09008938333421171, 0.12676662083349072]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>


</launch>