<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />


    <!-- Lenght of the adapter attached on the tip of EGS -->
    <arg name="adapter_len" default="0.15" />

    <node pkg="global_frame_registration" type="adapter_pose_publisher" name="adapter_pose_publisher" output="screen" unless="$(arg load_reference)">
        <param name="adapter_len" value="$(arg adapter_len)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="handeye_tof" output="screen" args="-0.045 0.011 -0.029 -0.043 0.023 -0.030 0.998 /ECM /camera_color_optical_frame 10"/>

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/dvrk/ECM/adapter_position, /mesa_left/ee_pose, /dvrk/PSM1/position_cartesian_current, /dvrk/PSM2/position_cartesian_current]
        camera_subscribers: []
        registrations:
        - frame_id: PSM1_base
          orientation: [0.28003403604663984, 0.28553069986035623, 0.3673947093939593, 0.8396870164543528]
          parent_frame: /world
          position: [0.018754664386973506, -0.0951343023469541, 0.08770300930586833]
        - frame_id: PSM2_base
          orientation: [0.514492758534681, 0.23366616843249716, 0.7113736438219371, 0.41790532662428465]
          parent_frame: /world
          position: [0.027305763133771598, 0.05551872234836225, 0.07514249610320993]
        - frame_id: /mesa_left/sbs_world
          orientation: [-0.39297036408302344, 0.3077652506159967, -0.6147179575018628, 0.6107181642873142]
          parent_frame: /world
          position: [-0.8391698449787799, 0.25502059114762027, -0.26638773757999334]        
        - frame_id: ECM_base
          orientation: [0.030445399036160586, 0.10850001022378578, 0.6961650534279193, 0.7089816949997154]
          parent_frame: /world
          position: [-0.04934060804975375, -0.021860258627892617, 0.18166555866648168]        
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>

</launch>