<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <!-- <include file="$(find easy_handeye)/launch/publish.launch">
		<arg name="namespace_prefix" value="left_camera"/>
		<arg name="eye_on_hand" value="false"/>
	</include> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/mesa_right/ee_pose, /dvrk/PSM1/position_cartesian_current, /dvrk/PSM2/position_cartesian_current]
        camera_subscribers: []
        registrations:
        - frame_id: PSM2_base
          orientation: [0.06402707820285025, -0.03084567509296468, 0.9198764385069826, 0.3857154591983251]
          parent_frame: /world
          position: [0.0022161964082857335, 0.07339063478600721, 0.14168316591304922]
        - frame_id: PSM1_base
          orientation: [-0.056485703275964805, 0.09718943397566929, 0.5440212788357938, 0.8315073225310624]
          parent_frame: /world
          position: [0.05642193045086235, -0.09775194147443853, 0.13775948958898823]
        - frame_id: /mesa_right/sbs_world
          orientation: [0.014915607029331751, 0.014532512117384594, 0.6688242425703425, 0.7431288335872269]
          parent_frame: /world
          position: [-0.03430284205262257, -0.4077926952657959, -0.7024535572935459]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>

</launch>