<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="true" />

    <!-- Lenght of the adapter attached on the tip of EGS -->
    <arg name="adapter_len" default="0.15" />

    <node pkg="global_frame_registration" type="adapter_pose_publisher" name="adapter_pose_publisher" output="screen" unless="$(arg load_reference)">
        <param name="adapter_len" value="$(arg adapter_len)"/>
    </node>

    <!-- <node pkg="tf" type="static_transform_publisher" name="endoscope_left_camera_publisher" args="-0.017 -0.002 -0.011 -0.037 0.119 -0.189 0.974 /ECM /endoscope/left_camera 10"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="handeye_left" output="screen" args="0.0024 -0.0000 0.0032 -0.0000 0.0002 0.0005 1.0000 /ECM /endoscope/left_camera 10"/> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/mesa_left/ee_pose, /dvrk/PSM1/position_cartesian_current]
        camera_subscribers: []
        registrations:
        - frame_id: /mesa_left/sbs_world
          orientation: [-0.01024742243960147, -0.019397310327976737, -0.7361129816260422, 0.6765030768348379]
          parent_frame: /world
          position: [0.08011867985061441, 0.3664442994215851, -0.6755582706056344]
        - frame_id: PSM1_base
          orientation: [0.009135466299226416, -0.03695211988405849, 0.6340526632232104, 0.7723524482715932]
          parent_frame: /world
          position: [-0.05064819674128267, -0.10398544586607229, 0.18885057330846589]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>


</launch>