<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/mesa_left/ee_pose, /surgeon/ee]
        camera_subscribers: []
        rgbd_subscribers: []
        registrations:
        - frame_id: surgeon
          orientation: [0.6559058953779691, -0.2624778693696249, -0.2845044924450785, 0.6480355069578944]
          parent_frame: /world
          position: [0.3878791085736053, 0.07812923102703803, -0.20888445373897147]
        - frame_id: surgeon
          orientation: [0.6559058953779691, -0.2624778693696249, -0.2845044924450785, 0.6480355069578944]
          parent_frame: /world
          position: [0.3878791085736053, 0.07812923102703803, -0.20888445373897147]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>

</launch>
