<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <!-- MESA_RIGHT HAND-EYE CALIB -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="welding_static_pub" output="screen" args="0 0 0 0 0 0 1 /panda_EE /panda_weldingpointer 10"/> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/surgeon/left/end_effector, /ee_pose]
        camera_subscribers: []
        rgbd_subscribers: []
        registrations:
        - frame_id: /ur/base
          orientation: [-0.0019059192201577883,  -0.0039235978891819364, -0.6984194784156343, 0.7156753488986215]
          parent_frame: /world
          position: [0.06787988296792029, 0.4551067150317522,-0.2692528503285172]
        - frame_id: /optitrack_world
          orientation: [0.6786541632364584, 0.1782484398851327, 0.1908983309739763, 0.6864501785502638]
          parent_frame: /world
          position: [-0.20763752822439843,   -0.4903497618961151, -0.10024590775525195]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>

</launch>
