<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <!-- MESA_RIGHT HAND-EYE CALIB -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="welding_static_pub" output="screen" args="0 0 0 0 0 0 1 /panda_EE /panda_weldingpointer 10"/> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/surgeon/left/end_effector, /ee_pose]
        camera_subscribers: []
        rgbd_subscribers: []
        registrations:
        - frame_id: /ur/base
          orientation: [0.010091464681680862,  0.006968437153509786, -0.7195000139581896, 0.6943841394634392]
          parent_frame: /world
          position: [0.12665510129678226, 0.43038839948752433,-0.0037917455520506873]
        - frame_id: /optitrack_world
          orientation: [0.7037317859638768, 0.16707678145558005, 0.1908027018645282, 0.663657480545298]
          parent_frame: /world
          position: [-0.20483274024172946,   -0.4993985765781642, 0.11754323763617895]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>

</launch>