<?xml version="1.0" ?>
<launch>
    <arg name="global_frame" default="/world" />
    <arg name="tool_points" default="3" />
    <arg name="load_reference" default="false" />

    <!-- MESA_RIGHT HAND-EYE CALIB -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="welding_static_pub" output="screen" args="0 0 0 0 0 0 1 /panda_EE /panda_weldingpointer 10"/> -->

    <node pkg="global_frame_registration" name="global_frame_registration" type="global_frame_registration" required="true" output="screen">
        <rosparam>
        tool_subscribers: [/surgeon/left/end_effector, /ee_pose]
        camera_subscribers: []
        rgbd_subscribers: []
        registrations:
        - frame_id: /panda_link0
          orientation: [0.01229136837598745, 0.0021047440857447203, -0.7249955293629601, 0.6886406717000532]
          parent_frame: /world
          position: [0.2690040598638921, 0.5626288233625059,-0.20947610372033598]
        - frame_id: optitrack_world
          orientation: [0.6866511870139529, 0.1628759474583861, 0.17011059315864244, 0.6877819125326554]
          parent_frame: /world
          position: [0.0247768093970456,   -0.38341600854809993, -0.0795941688570157]
        </rosparam>
        <param name="global_frame_name" type="string" value="$(arg global_frame)" />
        <param name="num_points" type="int" value="$(arg tool_points)" />
        <param name="use_existing" type="bool" value="$(arg load_reference)" />
    </node>

</launch>